* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
}


/* shared styles */
.flex {
    display: flex;
}

/* dark-02 */
.light-gray {
    color: var(--Dark-02, #424242);
}
/* dark-03 */
.gray{
    color: var(--Dark-03, #727272);
}
/* orange  */
.orange{
    color: #FF900E;
}

.light-bg {
    background: rgba(255, 144, 14, 0.10);
}

.btn-primary {
    color: #FFF;
    padding: 18px 22px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
}

/* navbar section  */
.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-item {
    list-style: none;
    margin-right: 0.6rem;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}


/* banner section styles */
.banner {
    max-width: 1280px;
    margin: 0 auto;
}

.banner-content {
    max-width: 545px;
    margin: 0 auto;
    padding-top: 2.1rem;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    color: var(--Dark-01, #131313);
font-size: 4rem;
font-weight: 700;
}
.banner-description{
    color: var(--Dark-03, #727272);
font-size: 1rem;
font-weight: 400;
margin: 32px 0px;
}
.banner-img{
    width: 100%;
    margin-bottom: 2.8rem;
}
/* main section styles */
.main{
max-width: 1280px;
margin: 0 auto;
}
main>section{
    margin-top: 8rem;
}
.team-container{
    align-items: center;
    flex: 1;
    gap: 4.7rem;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.quick-list-container{
    max-width: 440px;
}
.quick-list-tittle{
font-size: 2.8rem;
font-weight: 700;
}
.quick-list-description{
font-size: 1rem;
font-weight: 400;
margin-top: 1.5rem;
margin-bottom: 2rem;
}

/* responsive */
/* mobile devices */
@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .team-container {
        flex-direction: column;
        text-align: center;
    }
}