* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
}


/* shared styles */
.flex {
    display: flex;
}

/* dark-02 */
.light-gray {
    color: var(--Dark-02, #424242);
}

/* dark-03 */
.gray {
    color: var(--Dark-03, #727272);
}

/* orange  */
.orange {
    color: #FF900E;
}

.light-bg {
    background: rgba(255, 144, 14, 0.10);
}

.btn-primary {
    color: #FFF;
    padding: 18px 22px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
}

/* navbar section  */
.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-item {
    list-style: none;
    margin-right: 0.6rem;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}


/* banner section styles */
.banner {
    max-width: 1280px;
    margin: 0 auto;
}

.banner-content {
    max-width: 545px;
    margin: 0 auto;
    padding-top: 2.1rem;
    text-align: center;
    margin-bottom: 50px;
}

.banner-tittle {
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin: 32px 0px;
}

.banner-img {
    width: 100%;
    margin-bottom: 2.8rem;
}

/* main section styles */
.main {
    max-width: 1180px;
    margin: 0 auto;
}

main>section {
    margin-top: 8rem;
}

.team-container {
    align-items: center;
    flex: 1;
    gap: 4.7rem;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.quick-list-container {
    max-width: 440px;
}

.quick-list-tittle {
    font-size: 2.8rem;
    font-weight: 700;
}

.quick-list-description {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* feature-container styles */
.feature-img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-text-container {
    padding-right: 8.9rem;
}

.feature-text-tittle {
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 3px solid #FF900E;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.feature-text-description {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2.8rem;
}

.text-container {
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.text-container-tittle {
    color: var(--Dark-01, #131313);
    font-size: 1.2rem;
    font-weight: 600;
}

.text-container-description {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.7rem;
}

.feature-img-container {
    position: relative;
}

.position {
    position: absolute;
    bottom: -40px;
    left: -50px;
}

/* some fact styles */
.some-fact-tittle {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.some-fact-description {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 6rem;
}

.some-fact-box {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 1rem;
    width: 11rem;
    height: 11rem;
}

.some-fact-box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
}

.some-fact-box-tittle {
    color: var(--Dark-02, #424242);
    font-size: 45px;
    font-weight: 600;
    margin: 0 5px;
}

.some-fact-box-description {
    color: var(--Dark-03, #727272);
    font-size: 20px;
    font-weight: 600;
}

/* Our Sponspors styles */
.sponser-tittle {
    text-align: center;
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.sponser-description {
    margin-top: 0.5rem;
    margin-bottom: 3.1rem;
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.sponser-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
    margin-bottom: 6rem;
    filter: grayscale(100%);
}
/* footer related styles */
.footer{
    width: 73.75rem;
height: 5rem;
border-radius: 0.5rem;
background: #FFF4E7;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
margin-bottom: 8rem;
}
.footer-tittle{
    color: var(--Dark-02, #424242);
text-align: center;
font-size: 1.2rem;
font-weight: 400;
}
/* responsive */
/* mobile devices */
@media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-container {
        flex-direction: column;
        text-align: center;
    }

    .feature-container {
        flex-direction: column;
        text-align: center;
    }

    .feature-text-container {
        padding-right: 0px;
    }

    .position {
        position: absolute;
        bottom: 40px;
        left: 50px;
    }

    .some-fact-box-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .some-fact-box {
        margin: 0 auto;
    }

    .some-fact-container {
        text-align: center;
    }
    .sponser-img{
        grid-template-columns: repeat(1,1fr);
    }
    .sponser-img img{
        margin: 0 auto;
    }
    .footer{
        width: 20rem;
    height: 5rem;
}

}